a {
	font-size: 20px;
}
div.navbar{
	background: DarkOrchid;
}
h1 {
padding:none;
}

.imagemyself {
	height:200px; 
	width:200px; 

}

div.main { 
width:900px;
margin:0 auto;
}

/*for the AboutMe page
*
*/
div.aboutme    {
	text-align:center;
    width: 475px;
    height: 400px;
	float:left;
}

div.photo {
	width: 600px;
    height: 400px;
    margin-left: 400px;
}

/* for the Contact page
*
*/


/* for the Portfolio page
*
*/
div.work1 {
	text-align:center;
	float:left;
	width:300px;

}

div.work2 {
	text-align:center;
	float:left;
	width:200px;

}

div.work3 {
	text-align:center;
	width:300px;
	float:left;

}

/* thumbnail gallery
*/

.wrapper {
    width: 700px;
    position: relative;
}
.wrapper .thumbnails {
    width: 150px;
    float: right;
}
.wrapper a {
    margin: 2px;
}
.wrapper img {
    border: 1px solid #000;
}
.wrapper label > img {
    opacity: 0.6;
}
.wrapper label > img:hover {
    opacity: 1;
}
.wrapper input {
    display: none;
}
.wrapper input:checked + .full-image {
    display: block;
}
.wrapper input:checked ~ img {
    opacity: 1;
}
.wrapper .full-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper .description {
    width:95%;
    padding:5px;
    background-color:#DDDDDD;
}
